aclocal.m4
autogen.sh
autom4te.cache/
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
Makefile
Makefile.in
missing
src/sonarea
src/client/simple-client
stamp-h1
.deps
*.swp
*.la
*.o
*.lo
.libs/
