aclocal.m4
autom4te.cache/
aux/
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
content/
depcomp
install-sh
libtool
ltmain.sh
Makefile
!android/Makefile
Makefile.in
missing
src/aurena-server
src/aurena-simple-client
src/aurena-simple-client-fullscreen
src/aurena-simple-controller
stamp-h1
.deps
*.swp
*.la
*.o
*.lo
*.bz2
*.xz
.libs/
*.pyc
*~
test/
