body {
  background-color: #000000;
  font-family: "Myriad Pro",Calibri,Helvetica,Arial,sans-serif;
  text-align: center;
}

#player {
  display: inline-block;
  width: 50%;
  background-color: #101010;
  color: white;
  position: relative;
  text-align: left;
}

#header {
  font-size: 120%; background-color: #555560;
  border-radius: 4px;
}
#logo { display: block; position: relative; padding: 5px 0px 10px 0px; margin: 0 auto; }

#connstatus { display: block;
z-index: 10;
margin: 0px;
padding: 3px 10px 3px 10px;
color: #FFF;
background: #da532c;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
border-bottom-left-radius: 2px;
border-bottom-right-radius: 2px;
position: absolute;
right: 10px; top: 0px;
}

#playstate { display: inline; margin: 10px; }
#mastervollabel, #mastervolval { display: inline; }
#mastervol, .inline { display: inline; padding-top: 10px; margin: 10px; }
#mastervolslider, #nowplayingdiv { display: inline-block; width: 80%; }
#nowplayingdiv { padding-top: 15px; }
#controls { margin: 10px auto; width: 50%;
  padding: 10px 15px 10px 155px;
}
#clients, #playlist { padding-left: 10px; }

#debug {
  display: none;
  color: #fff;
}

.icon-microphone-on { background-position: 0 0; }
.icon-microphone-off { background-position: -16px 0; }
.icon-volume-on { background-position: 0 -16px; }
.icon-volume-off { background-position: -16px -16px; }

.ui-state-default .ui-icon.aurena {
    background-image: url(aurena-icons.png);
}

.client-clock-synched {
  color: #8F8; 
}
.client-clock-not-synched {
  color: #F88; 
}
